<#@ template language="C#" hostspecific="true"#>
<#@ include file="$(SolutionDir)\References\MySqlHelper.ttinclude"#>
<#@ include file="$(SolutionDir)\References\MultipleOutputHelper.ttinclude"#>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>


<# 
	var tables = MysqlManager.GetTables(Host);
    var manager = Manager.Create(Host, GenerationEnvironment);
#>

<#foreach(var table in tables){#>

<# manager.StartNewFile($"../Entities/{table.Name}.cs"); #>
using System;
using Soul.SqlBatis;
using System.ComponentModel.DataAnnotations;
using System.ComponentModel.DataAnnotations.Schema;

namespace Soul.SqlBatis.Entities
{	
	/// <summary>
    /// <#=table.Description#>
    /// </summary>
	[Table("<#=table.TableName#>")]
	public partial class <#=table.Name#>
	{
<#foreach(var column in table.Columns){#>
		/// <summary>
		/// <#=column.Description#>
		/// </summary>
		<#=column.IsPrimaryKey ? $"[Key]":""#>[Column("<#=column.ColumnName#>")]
		public <#=column.Type#> <#=column.Name#> { get; set; }
<#}#>
	}
}
<# manager.EndBlock(); #>
<#}#>
<# manager.Process(true); #>
